<div class="container">
    <svg>
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </symbol>
    </svg>

    <h1 class="text-center">Flickr</h1>
    <div class="form-group">
        <div *ngIf="!has_key" class="alert alert-warning d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:">
                <use xlink:href="#exclamation-triangle-fill" />
            </svg>
            <div>
                Warning: Flickr API is not set
            </div>
        </div>

        <mat-form-field class="example-full-width">
            <input matInput class="form-control" (keyup)="search($event)" placeholder="Search images">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <input matInput #tags_input (keyup.enter)="add_tag($event); tags_input.value = ''" placeholder="Add Tags">
        </mat-form-field>
        <br>
        <div class="tags">
            <button type="button" class="btn badge btn-primary" *ngFor="let tag of tags" (click)="remove_tag($event)">{{tag}}</button>
        </div>
        <br>
        <mat-checkbox class="example-margin" color="warn" [(ngModel)]="nsfw">NSFW</mat-checkbox>
        <br>
        <mat-form-field>
            Min Upload Date:
            <input matInput [matDatepicker]="min_upload_date">
            <mat-datepicker-toggle matSuffix [for]="min_upload_date"></mat-datepicker-toggle>
            <mat-datepicker #min_upload_date></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field>
            Max Upload Date:
            <input matInput [matDatepicker]="max_upload_date">
            <mat-datepicker-toggle matSuffix [for]="max_upload_date"></mat-datepicker-toggle>
            <mat-datepicker #max_upload_date></mat-datepicker>
        </mat-form-field>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 p-3" *ngFor="let image of images">
            <div class="card">
                <a href="{{image.url}}_b.jpg">
                    <img src="{{image.url}}_b.jpg" title="{{image.title}}">
                </a>
            </div>
        </div>
    </div>
    <div class="search-result" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
    </div>
</div>
