<div class="container">
    <h1 class="text-center">Flickr</h1>
    <div class="form-group">
        <mat-form-field class="example-full-width">
            <input matInput class="form-control" (keyup)="search($event)" placeholder="Search images">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <input matInput #tags_input (keyup.enter)="add_tags($event); tags_input.value = ''" placeholder="Add Tags">
        </mat-form-field>
        <br>
        <div class="tags">
            <button type="button" class="btn badge bg-primary" *ngFor="let tag of tags">{{tag}}</button>
        </div>
        <br>
        <mat-checkbox class="example-margin">NSFW</mat-checkbox>
        <br>
        <mat-form-field>
            Min Upload Date:
            <input matInput [matDatepicker]="min_upload_date">
            <mat-datepicker-toggle matSuffix [for]="min_upload_date"></mat-datepicker-toggle>
            <mat-datepicker #min_upload_date></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field>
            Max Upload Date:
            <input matInput [matDatepicker]="max_upload_date">
            <mat-datepicker-toggle matSuffix [for]="max_upload_date"></mat-datepicker-toggle>
            <mat-datepicker #max_upload_date></mat-datepicker>
        </mat-form-field>
    </div>

    <div class="row">
        <div *ngFor="let image of images">
            <div class="card">
                <a href="{{image.url}}_b.jpg">
                    <img src="{{image.url}}_b.jpg" title="{{image.title}}">
                </a>
            </div>
        </div>
    </div>
</div>
